<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login or Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        amounts = {{ amounts | safe }};
    </script>
    {% load static %}
    <script src="{% static 'js/dashboard.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom.scss' %}">
</head>

<body class="text-center">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="/">Trash<img src="../static/coldel.png" width="25" height="25"
                    class="d-inline-block align-top" alt="">Track</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../trash">Take out the Trash</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../">Leaderboard </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../dashboard">My Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Trash<img src="../static/coldel.png" alt="Trash Icon" height=70>Track,
                {{user.first}} </h1>
            <p class="lead">{{percent}} The average American creates 134
                lb/month of waste. </p>
        </div>
    </header>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm">
            <h4 class="text-center">My Badges</h4>
        </div>
        </div>
        <div class="row">
            {% for key, item in badges.items %}
            <div class="col-sm">
                {{key|safe}}
                <p>{{item}}</p>
            </div>
            {% empty %}
                <div class="col-sm">
                    <img src='../static/sad.png' width=50 class='m-2'>
                    <p>No badges, yet! Try to reduce your trash!</p>
                </div>
            {% endfor %}
        </div>
        <div class='row'>
            <div class="col" id=history>
            </div>
        </div>
        <div class="container">
            <div class="col">
                <h4>My Recent Trashbags</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Trash Type</th>
                            <th scope="col">Weight (lb)</th>
                            <th scope="col">Trashbag Size (gal)</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trash in mytrash  %}
                        <tr>
                            <td>{{trash.takeout_date}}</td>
                            {% if trash.trashtype == "Trashbag" %}
                            <td> <img src='../static/trash.png' width="25" height="25" alt="trashbag" class="mr-1">
                                {{trash.trashtype}} </td>
                            {% else %}
                            <td><img src='../static/reward.png' width="25" height="25" alt="100% Diversion!"
                                    class="mr-1">{{trash.trashtype}}</td>
                            {% endif %}
                            <td>{{trash.weight}}</td>
                            <td>{{trash.bag_size}}</td>
                            <td><a href="../delete/{{trash.id}}"><img src='../static/remove.png' alt="delete" width="25"
                                        height="25"></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>